*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
header{
    background-color: #FFFFFF;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    
}

ul a{
    text-decoration: none;
    gap: 30px;
    color: #575757;
}
.btn{
    border: none;
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: #5c6e9f;
}
.conteiner{
    max-width: 1200px;
    margin: auto;
}
/* hero section */
.hero-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 700px;

}
.banner-section h2, .banner-section p{
    color: #FFFFFF;

}
.banner-section h2{
    font-size: 60px;
}
.banner-section p{
    font-size: 22px;
}
.banner-section .btn{
    margin-top: 120px;
}

/* speaker section */
.speakers{
    max-width: 1200px;
    margin: auto;
    padding: 40px 30px;
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.speakers h2{
    text-align: center;
    font-size: 48px;
}

.speaker-card{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
}

.speaker-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.speaker-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}
.content{
    padding: 24px;
    text-align: left;
}
.content span{
    font-size: 12px;
    font-weight: 600;
    color: #1D4ED8;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;

}
.content h2{
    margin: 0 0 10px;
    font-size: 32px;
    text-align: left;
}
.content p{
    margin: 0;
    color: #666;
}
.speakers h2{
    color: black;
}

/* pricing section */
.price-section{
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
}

.price-section h2{
    text-align: center;
    font-size: 48px;
    color: black;
}

.price-section > p{
    text-align: center;
    color: #6B7280;
    margin: 10px 0 50px;
}


.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.card{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 24px;
    background: white;
    width: 320px;
}


.card.active{
    background: #0F172A;
}

.card.active hr{
    border-color: rgba(255,255,255,.2);
}

.card.active button{
    background: #2563EB;
    color: white;
    border: none;
}


.card h4{
    color: #6B7280;
    font-size: 13px;
    margin-bottom: 10px;
}

.card h2{
    text-align: left;
    font-size: 50px;
    margin: 0;
}

.card p{
    color: #6B7280;
    margin: 8px 0 20px;
}

.card hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 25px;
}


.card ul{
    display: block;
    list-style: disc;
    padding-left: 18px;
    margin-bottom: 30px;
}

.card li{
    margin-bottom: 15px;
    color: #4B5563;
    font-size: 15px;
}

.card li::marker{
    color: #2563EB;
}


.card button{
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #2563EB;
    background: white;
    color: #2563EB;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.card button:hover{
    background: #2563EB;
    color: white;
    
}
.card .active{
    background-color: #0D1B2A;
}

.card.active h4{
    color: #1D4ED8;
}

.card.active h2,
.card.active p,
.card.active li{
    color: white;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

/* sponsore section */
.sponsors{
    padding: 30px ;
    background-color: #E5e5e5;
    text-align: center;
    max-width: 1200px;
    border-radius: 10px;
    margin-top: 50px;
}
.title h2{
    font-size: 50px;
    color: black;
    margin-bottom: 15px;
}
.title p{
    color: #362A26;
    max-width: 650px;
    margin: 0 auto 60px;

}

.sponsor-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 30px;
}

.sponsor-card{
    background-color:#E5E7EB ;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsor-card img{
    max-width: 120px;
    width: 100%; 
}
.sponsor-card:hover{
    transform:translateY(-8px)
}
.sponsor-card:hover img{
    filter:grayscale(0%)
}

/* fqa section */

.faq{
    padding: 50px 0;
    background-color: #E5E5E5;
    margin-top: 80px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.section-title p{
    color: #362A26;
}

.faq-container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.faq-item{
    background-color: #E5E5E5;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.faq-item:hover{
    transform: translateY(-5px);
}
.faq-item h3{
    color: black;
    margin-bottom: 10px;
    font-size: 22px;
}

.faq-item p{
    color: #666;
}
/* footer section */
footer{
    background-color: #0D1B2A;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.social-link{
    display: flex;
    gap: 50px;
    padding: 5px;
}
.social-link a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background-color: #0d1b2a;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    font-size: 20px;
}
.footer-logo{
   margin-left: 50px;
}
.footer-text{
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: white;
    font-size: 11px;
    margin-top: 5px;
}
.social-link{
    margin-right: 50px;
}
.social-link a:hover{
    background-color: #1D4ED8;
}
.text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
footer hr{
    max-width: 1200px;
    margin: 10px auto;
    border: none;
    border-top: 1px solid gray;
}
.footer-text{
    max-width: 1200px;
    margin: 20px auto o;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    margin-left: 30px;
}
.text{
    margin-right: 30px;
}
